<!DOCTYPE html>
<html>
<head>
	<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8" />
	
</head>
<body>
<center>
	<h1>Cartelera</h1>
	<br />
	<table border = "0" cellpadding = "0" cellspacing = "0">
		<tbody>
			<tr>
				<td width = "250" valign = "top">
					<div id = "cines">
					<form action = "/resultados/" method = "get">
						<select name = "cine" style = "width: 100%; font-family: Verdana; font-size: 7.5pt; color: #747474">
							<option value = "c0" selected>Cine</option>
							<option value = "Cine Star">Cine Star</option>
							<option value = "Cinemark">Cinemark</option>
							<option value = "Cineplanet">Cineplanet</option>
							<option value = "Cinerama">Cinerama</option>
							<option value = "UVK">UVK</option>
						</select>

						<select name = "pelicula" style = "width: 100%; font-family: Verdana; font-size: 7.5pt; color: #747474">
							<option value = "p0" selected>Película</option>
							<option value = "Amour">Amour</option>
							<option value = "Argo">Argo</option>
							<option value = "El Inquilino">El Inquilino</option>
							<option value = "El Maestro Luchador">El Maestro Luchador</option>
							<option value = "Hermosas Criaturas">Hermosas Criaturas</option>
							<option value = "Los Miserables">Los Miserables</option>
						</select>

						<select name = "distrito" style = "width: 100%; font-family: Verdana; font-size: 7.5pt; color: #747474">
							<option value = "d0" selected>Distrito</option>
							<option value = "Asia">Asia</option>
							<option value = "Breña">Breña</option>
							<option value = "Callao">Callao</option>
							<option value = "Chorrillos">Chorrillos</option>
							<option value = "Comas">Comas</option>
							<option value = "Jesús María">Jesús María</option>
							<option value = "La Molina">La Molina</option>
							<option value = "La Victoria">La Victoria</option>
							<option value = "Lima (Cercado)">Lima (Cercado)</option>
							<option value = "Lince">Lince</option>
							<option value = "Los Olivos">Los Olivos</option>
							<option value = "Miraflores">Miraflores</option>
							<option value = "Rimac">Rimac</option>
							<option value = "San Borja">San Borja</option>
							<option value = "San Isidro">San Isidro</option>
							<option value = "San Juan de Lurigancho">San Juan de Lurigancho</option>
							<option value = "San Juan de Miraflores">San Juan de Miraflores</option>
							<option value = "San Martín de Porres">San Martín de Porres</option>
							<option value = "San Miguel">San Miguel</option>
							<option value = "Santiago de Surco">Santiago de Surco</option>
							<option value = "Surquillo">Surquillo</option>
							<option value = "Zárate">Zárate</option>
						</select>

						<select name = "horario" style = "width: 100%; font-family: Verdana; font-size: 7.5pt; color: #747474">
							<option value = "h0">Horario</option>
							<option value = "Antes de 12 M">Antes de 12 M</option>
							<option value = "Entre 12 y 4 PM">Entre 12 y 4 PM</option>
							<option value = "Entre 4 y 7 PM">Entre 4 y 7 PM</option>
							<option value = "Entre 7 y 10 PM">Entre 7 y 10 PM</option>
							<option value = "Luego de las 10 PM">Luego de las 10 PM</option>
						</select>
						<input type = "submit" value = "Buscar" style = "width: 30%; font-family: Verdana; font-size: 7.5pt; color: #444444">	
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	{% if error %}
        <p style="color: red;">Please submit a search term.</p>
    {% endif %}
<center>	
</body>
</html>