<!DOCTYPE html>
<html>
<head>
	<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8" />
	
</head>
<body>
<center>
	<h1>Cartelera</h1>
	<br />
	<table border = "0" cellpadding = "0" cellspacing = "0">
		<tbody>
			<tr>
				<td width = "250" valign = "top">
					<div id = "cines">
					<form action = "">
							<select name = "cines" style = "width: 100%; font-family: Verdana; font-size: 7.5pt; color: #747474">
								<option value = "">Cine</option>
								<option value = "Jhon">Jhon</option>
								<option value = "George">George</option>
								<option value = "Paul">Paul</option>
								<option value = "Ringo">Ringo</option>
							</select>
					</form>
					<br />
					<form action = "">
							<select name = "peliculas" style = "width: 100%; font-family: Verdana; font-size: 7.5pt; color: #747474">
								<option value = "">Película</option>
								<option value = "Jhon">Jhon</option>
								<option value = "George">George</option>
								<option value = "Paul">Paul</option>
								<option value = "Ringo">Ringo</option>
							</select>
					</form>
					<br />
					<form action = "">
							<select name = "distritos" style = "width: 100%; font-family: Verdana; font-size: 7.5pt; color: #747474">
								<option value = "">Distrito</option>
								<option value = "Jhon">Jhon</option>
								<option value = "George">George</option>
								<option value = "Paul">Paul</option>
								<option value = "Ringo">Ringo</option>
							</select>
					</form>
					<br />
					<form action = "">
							<select name = "horarios" style = "width: 100%; font-family: Verdana; font-size: 7.5pt; color: #747474">
								<option value = "">Horario</option>
								<option value = "Jhon">Jhon</option>
								<option value = "George">George</option>
								<option value = "Paul">Paul</option>
								<option value = "Ringo">Ringo</option>
							</select>
					</form>
				</td>
			</tr>
		</tbody>
	</table>

<center>
	
</body>
</html>






<table border="0" cellpadding="0" cellspacing="0" class="dest_carte3">
				<tbody><tr>
					<td width="12"><img src="transp.gif" width="12" height="1" border="0"></td>
					<td width="253" valign="top">

					<img src="transp.gif" width="1" height="124" border="0"><br>

						<select name="cin_cine" style="width: 100%; font-family: Verdana; font-size: 7.5pt; color: #747474">
						<option value="" selected="">Cine</option>
													<option value="6">Cine Star  Aviación</option>
													<option value="17">Cine Star Benavides - Surco</option>
													<option value="7">Cine Star Excelsior</option>
													<option value="21">Cine Star Las Américas</option>
													<option value="221">Cine Star Metro Breña</option>
													<option value="581">Cine Star Metro Breña 3D</option>
													<option value="29">Cine Star Metro San Juan</option>
													<option value="567">Cine Star Metro San Juan 3D</option>
													<option value="34">Cine Star Metro Uni</option>
													<option value="223">Cine Star Porteño</option>
													<option value="27">Cine Star Sur</option>
													<option value="565">Cine Star Sur 3D</option>
													<option value="225">Cine Star Victoria</option>
													<option value="14">Cinemark - San Miguel</option>
													<option value="481">Cinemark Aventura Plaza</option>
													<option value="483">Cinemark Aventura Plaza 3D</option>
													<option value="18">Cinemark Jockey Plaza</option>
													<option value="321">Cinemark Jockey Plaza 3D</option>
													<option value="25">Cinemark Megaplaza</option>
													<option value="401">Cinemark Megaplaza 3D</option>
													<option value="561">Cinemark Open Plaza Angamos 3D</option>
													<option value="36">Cinemark Plaza - Lima Sur 7</option>
													<option value="461">Cinemark Plaza Lima Sur 3D</option>
													<option value="10">Cineplanet Alcazar</option>
													<option value="241">Cineplanet Alcázar 3D</option>
													<option value="8">Cineplanet Centro</option>
													<option value="563">Cineplanet Centro Civico</option>
													<option value="37">Cineplanet Comas</option>
													<option value="32">Cineplanet La Molina</option>
													<option value="501">Cineplanet La Molina 3D</option>
													<option value="26">Cineplanet Norte - Royal Plaza</option>
													<option value="5">Cineplanet Primavera</option>
													<option value="403">Cineplanet Primavera 3D</option>
													<option value="4">Cineplanet Risso</option>
													<option value="15">Cineplanet San Miguel</option>
													<option value="402">Cineplanet San Miguel 3D</option>
													<option value="12">Cinerama El Pacífico</option>
													<option value="301">Cinerama Minka</option>
													<option value="20">Cines Plaza Jesús María</option>
													<option value="1">El Cine PUCP</option>
													<option value="23">Junín</option>
													<option value="361">UVK Asia</option>
													<option value="521">UVK Basadre</option>
													<option value="19">UVK Caminos del Inca</option>
													<option value="11">UVK LarcoMar</option>
													<option value="13">UVK LarcoMar Cinebar</option>
													<option value="281">UVK LarcoMar 3D</option>
													<option value="16">UVK Marina Park</option>
													<option value="9">UVK San Martín</option>
												</select>

					<img src="transp.gif" width="1" height="8" border="0"><br>

						<select name="cin_pelicula" style="width: 100%; font-family: Verdana; font-size: 7.5pt; color: #747474">
						<option value="" selected="">Película</option>
													<option value="CIN14002">Amour HD</option>
													<option value="CIN14001">Argo</option>
													<option value="CIN13997">Árida Maldición</option>
													<option value="CIN13967">Django sin cadenas</option>
													<option value="CIN13968">Django sin cadenas HD</option>
													<option value="CIN13970">Duro de Matar: Un Buen día para Morir</option>
													<option value="CIN13972">Duro de Matar: Un Buen día para Morir HD</option>
													<option value="CIN13971">Duro de Matar: Un Buen día para Morir XD 2D D-BOX</option>
													<option value="CIN13984">El Exorcista HD</option>
													<option value="CIN13992">El Inquilino</option>
													<option value="CIN13995">El Maestro Luchador</option>
													<option value="CIN13999">El Maestro Luchador (doblada)</option>
													<option value="CIN13989">El Sótano del Miedo</option>
													<option value="CIN13986">Fuerza Antigangster</option>
													<option value="CIN13944">Hansel &amp; Gretel</option>
													<option value="CIN13998">Hermosas criaturas</option>
													<option value="CIN13998">Hermosas criaturas </option>
													<option value="CIN14000">Hermosas Criaturas (doblada)</option>
													<option value="CIN13996">Hitchcock</option>
													<option value="CIN13975">Juegos del Destino</option>
													<option value="CIN13988">La Noche más Oscura</option>
													<option value="CIN13960">Lincoln</option>
													<option value="CIN13987">Los Miserables</option>
													<option value="CIN13965">Mamá</option>
													<option value="CIN13966">Mamá XD HD</option>
													<option value="CIN13977">Mi Novio es un Zombie</option>
													<option value="CIN13993">Posesión Satánica</option>
													<option value="CIN13978">Quizás Mañana</option>
													<option value="CIN13982">Ralph el Demoledor</option>
													<option value="CIN13954">Sammy 2: El Gran Escape (doblada)</option>
													<option value="CIN13973">Tadeo, El Explorador Perdido</option>
													<option value="CIN13974">Tadeo, El Explorador Perdido 3D</option>
													<option value="CIN13985">The Master</option>
													<option value="CIN13981">Una Aventura Extraordinaria</option>
													<option value="CIN13994">¿Y dónde está el fantasma?</option>
												</select>

					<img src="transp.gif" width="1" height="8" border="0"><br>

						<select name="cin_distrito" style="width: 100%; font-family: Verdana; font-size: 7.5pt; color: #747474">
						<option value="" selected="">Distrito</option>
													<option value="19">Asia</option>
													<option value="12">Breña</option>
													<option value="10">Callao</option>
													<option value="24">Chorrillos</option>
													<option value="25">Comas</option>
													<option value="9">Jesús María</option>
													<option value="20">La Molina</option>
													<option value="2">La Victoria</option>
													<option value="5">Lima (Cercado)</option>
													<option value="3">Lince</option>
													<option value="14">Los Olivos</option>
													<option value="6">Miraflores</option>
													<option value="22">Rimac</option>
													<option value="4">San Borja</option>
													<option value="1">San Isidro</option>
													<option value="121">San Juan de Lurigancho</option>
													<option value="15">San Juan de Miraflores</option>
													<option value="11">San Martín de Porres</option>
													<option value="7">San Miguel</option>
													<option value="8">Santiago de Surco</option>
													<option value="101">Surquillo</option>
													<option value="17">Zarate</option>
												</select>

					<img src="transp.gif" width="1" height="8" border="0"><br>

						<select name="cin_horario" style="width: 100%; font-family: Verdana; font-size: 7.5pt; color: #747474">
						<option value="" selected="">Horario</option>
													<option value="1">Antes de 12 M</option>
													<option value="2">Entre 12 y 4 PM</option>
													<option value="3">Entre 4 y 7 PM</option>
													<option value="4">Entre 7 y 10 PM</option>
													<option value="5">Luego de las 10 PM</option>
												</select>

					<img src="transp.gif" width="1" height="15" border="0"><br>

					<img src="buscar1.gif" name="nm01" onmouseover="CambiaImg('nm01','buscar2.gif');" onmouseout="CambiaImg('nm01','buscar1.gif');" onclick="javascript:document.cin_buscador.submit();" style="cursor:hand;" align="right">

					</td>
					<td width="12"><img src="transp.gif" width="12" height="1" border="0"></td>
				</tr>
				</tbody>
</table>